  ### WEBSCRAPPING DYNAMIC WEBSITE USING SELENIUM

webscarapping of data can also be done using selenium (also can be done by BeautifulSoup)we will be scrapping data from Amazon india website

#### We will import the necessary libraries

In [62]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import time


# Navigate to the Amazon India website
driver.get("https://www.amazon.in/")

# Find the search box element and search for 'laptops'
search_box = driver.find_element(By.XPATH, "//input[@id='twotabsearchtextbox']")
search_box.send_keys("smartphones under 10000")
search_box.submit()

C:\Users\stilinski\AppData\Local\Temp\ipykernel_17336\443920245.py:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome( r'C:\Users\stilinski\Downloads\New folder\chromedriver.exe')

In [ ]:
# Create a new instance of the Chrome driver
# actually to obtain this we have downloaded the google webdriver from Chrome and we hav extracted all 
#the data into a file in my pc 
driver = webdriver.Chrome( r'C:\Users\stilinski\Downloads\New folder\chromedriver.exe')

In [ ]:
# Navigate to the Amazon India website
driver.get("https://www.amazon.in/")

Actually for the below code we will be inspecting the Amazon webpage and in the search tab we will input the 
'smartphones below 10000shs

In [ ]:
# Find the search box element and search for 'smartphones under 100000
search_box = driver.find_element(By.XPATH, "//input[@id='twotabsearchtextbox']")
search_box.send_keys("smartphones under 10000")
search_box.submit()

After inputting the above code  the webpage directs to the webpage that actually contains all the phones.We will extract all the data of the phones' specifications and the prices of each phone.We are actually using the find_elements_By.XPATH  and all the data after taht actually it is found when you inspect the webpage

In [56]:
products = []
prices = []
for i in range(10):
    print('Scrapping page', i+1)
    product_elements = driver.find_elements(By.XPATH, "//span[@class='a-size-medium a-color-base a-text-normal']")
    price_elements = driver.find_elements(By.XPATH, "//span[@class='a-price-whole']")
    for p, price in zip(product_elements, price_elements):
        products.append(p.text)
        prices.append(price.text)
    next_button = driver.find_element(By.XPATH, "//span[@class='s-pagination-item s-pagination-ellipsis']")
    next_button.click()

Scrapping page 1
Scrapping page 2
Scrapping page 3
Scrapping page 4
Scrapping page 5
Scrapping page 6
Scrapping page 7
Scrapping page 8
Scrapping page 9
Scrapping page 10

After extracting the data we will create a dataframe from it

In [10]:
import pandas as pd

# Create a dictionary from the lists of products and prices
data = {'Product': products, 'Price': prices}

# Create a pandas dataframe from the dictionary
df = pd.DataFrame(data)

# Print the dataframe
print(df)

                                               Product   Price
0    Samsung Galaxy M04 Dark Blue, 4GB RAM, 64GB St...   9,499
1    Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...   9,499
2    Redmi A1 (Light Blue, 2GB RAM, 32GB Storage) |...   8,199
3    Redmi 10A (Slate Grey, 4GB RAM, 64GB Storage) ...   9,249
4    Redmi 10A (Charcoal Black, 4GB RAM, 64GB Stora...  29,999
..                                                 ...     ...
215  Redmi 9A Sport (Carbon Black, 3GB RAM, 32GB St...  16,499
216  Redmi A1 (Light Green, 2GB RAM 32GB ROM) | Seg...   7,499
217  Vivo Y16 (Drizzling Gold, 3GB RAM, 32GB Storag...   8,999
218  Samsung Galaxy F04 (4GB RAM 64GB Storage) (Opa...   5,779
219  OnePlus 11 5G (Eternal Green, 8GB RAM, 128GB S...   4,912

[220 rows x 2 columns]

In [11]:
len(products)

220

In [12]:
df.head()

                                             Product   Price
0  Samsung Galaxy M04 Dark Blue, 4GB RAM, 64GB St...   9,499
1  Samsung Galaxy S20 FE 5G (Cloud Navy, 8GB RAM,...   9,499
2  Redmi A1 (Light Blue, 2GB RAM, 32GB Storage) |...   8,199
3  Redmi 10A (Slate Grey, 4GB RAM, 64GB Storage) ...   9,249
4  Redmi 10A (Charcoal Black, 4GB RAM, 64GB Stora...  29,999